body {
    /* background-image: url('jogo-basico/assets/Mapa.png'); */
    background-color: white;
    font-family: Rubik Doodle Shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 35px;
    margin-top: 20px;
    background-color: white;
}

.container_botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botao {
    margin: 10px;
    padding: 20px;
    font-size: 100px;
    cursor: pointer;
    color: black;
}

.botao:hover {
    background-color: #c49147;
}

.box {
    background: #fff;
    border: solid black;
    border-color: black;
    float: left;
}

.box1 {
    border-width: 3px 4px 3px 5px;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
}

.box2 {
    border-width: 3px 3px 5px 5px;
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
}

.box3 {
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(2deg);
}